.slider{
  top: 0;
  background: url("../img/fraga.jpg");
  height: 75vh;
  width: 79%;
  background-size: cover;
  background-position: center;
  float: right;
}

.menu{
  float:left;
  width: 10px;
  height: 80vh;
}

.textoMenu{
  font-size: 30px;
  padding-top: 25%;
  color: black;
}

.texto{
  color: White;
  padding-left: 45%;
  font-size: 40px;
}

 body{
   background-color: black;
}
.titulo{
    background-color: #fff;
}

